@charset "UTF-8";

body{
	background-color: #e84118
}

.rectangle#tbl{
	height: 75%;
  	width: 1100px;
  	background-color: black;
  	position: absolute;
  	bottom: 0px;
  	left: 15px;
}

.rectangle#head{
	height: 20%;
	width: 50%;
	background-color: #2f3640;
	position: absolute;
	top: 20px;
	left: 0px;
}

.text#hed{
	font: Georgia-serif;
	font-size: 80px;
	color: white;
	position: absolute;
	top: 42px;
	left: 50px;
}


table{
	position: absolute;
	top: 200px;
	left: 25px;
}

table, th, td {
	border-radius: 3px;
  	border: 3px solid white rgba(255,255,255,1.0);
  	border-color: white;
}

th, td {
	font: Georgia-serif;
	font-size: 15px;
	color: white;
	padding: 15px;
 	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  	background-color: #2f3640;
}

button#final{
	width: 200px;
	padding: 10px;
	position: absolute;
	left: 1200px;
	top: 300px;
	font-size: 25px;
	font-family: Georgia-serif;
	font-weight: 600;
	border-radius: 3px;
	background-color: #2f3640;
	color: #fff;
	cursor: pointer;
	border: 3px solid rgba(255,255,255,0.3);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}

button#back{
	width: 200px;
	padding: 10px;
	position: absolute;
	left: 1200px;
	top: 450px;
	font-size: 25px;
	font-family: Georgia-serif;
	font-weight: 600;
	border-radius: 3px;
	background-color: #2f3640;
	color: #fff;
	cursor: pointer;
	border: 3px solid rgba(255,255,255,0.3);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}

p#pass{
	font: Georgia-serif;
	font-size: 30px;
	color: white;
	
}

input#pass{
	position: absolute;
	left: 1200px;
	top: 250px;
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: 0;
	padding: 7px;
	background-color: #fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}