@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
	background: #e84118;
}

.rectangle#heading {
	height: 20%;
	width: 100%;
	background-color: #2f3640;
	position: absolute;
	top: 20px;
	left: 0px;
}

.text#hed{
	font: Georgia-serif;
	font-size: 80px;
	color: white;
	position: absolute;
	top: 50px;
	left: 200px;
}

button#edit{
	width: 200px;
	padding: 10px;
	position: absolute;
	left: 1200px;
	top: 200px;
	font-size: 25px;
	font-family: Georgia-serif;
	font-weight: 600;
	border-radius: 3px;
	background-color: #2f3640;
	color: #fff;
	cursor: pointer;
	border: 3px solid rgba(255,255,255,0.3);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

button#cancel{
	width: 200px;
	padding: 10px;
	position: absolute;
	left: 1200px;
	top: 350px;
	font-size: 25px;
	font-family: Georgia-serif;
	font-weight: 600;
	border-radius: 3px;
	background-color: #2f3640;
	color: #fff;
	cursor: pointer;
	border: 3px solid rgba(255,255,255,0.3);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

input#name{
    position: absolute;
    left: 200px;
    top: 200px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}

input#lname{
	position: absolute;
    left: 725px;
    top: 200px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}

input#add{
	position: absolute;
    left: 200px;
    top: 325px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}

input#city{
	position: absolute;
    left: 725px;
    top: 325px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}

input#zip{
	position: absolute;
    left: 200px;
    top: 450px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}

input#state{
	position: absolute;
    left: 725px;
    top: 450px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}

input#country{
	position: absolute;
    left: 200px;
    top: 575px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}

input#phone{
	position: absolute;
    left: 725px;
    top: 575px;
    width: 300px;
    padding: 10px;
    font-family: Georgia-serif;
    border-radius: 3px;
    background-color: #2f3640;
    color: #fff;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
    font-size: 20px;
}